@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button type="button" class="btn @ButtonClass @AdditionalClasses" @onclick="Navigate">
    @if (IconClass is not null)
    {
        <i class="bi @IconClass pe-2"></i>
    }
    @Text
</button>

@code {
    [Parameter] public string Path { get; set; } = "";

    [Parameter] public string Text { get; set; } = "";

    [Parameter] public string ButtonClass { get; set; } = "btn-primary";

    [Parameter] public string AdditionalClasses { get; set; } = "";
    
    [Parameter] public string? IconClass { get; set; }
    
    private void Navigate()
    {
        NavigationManager.NavigateTo(Path);
    }
}