@page "/games/create"
@page "/games/edit/{id:int}"
@using BlazorCrud.Shared

@inject IGameService GameService

<h3>Create</h3>

<EditForm Model="_game" OnSubmit="OnSubmit" FormName="editGameForm">
    <label>Name</label>
    <InputText @bind-Value="_game.Name">@_game.Name</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    private GameDto _game { get; set; } = new();

    private async Task OnSubmit(EditContext context)
    {
        await GameService.AddGameAsync(_game);
    }

}