@page "/games"
@using BlazorCrud.Shared
@attribute [StreamRendering]

@inject IGameService GameService

<div class="row">
    <div class="col-8">
        <h3>Games</h3>
        <p>
            This page is loaded using Server Side Rendering (SSR), which is effectively Razor Pages but with Blazor components <br/>
            There is no rich interactivity on this page, with the exception of the &lt;NavigationButton/&gt; component. <br/>
            You can use regular HTML navigation, like links.
        </p>
        <p>
            However, with StreamRendering you can render the HTML before the results of async calls (like data access), and then
            stream the results into the page. Magic!
        </p>
    </div>
    <div class="col-4">
        <NavigationButton Path="/games/create" Text="Create Game"></NavigationButton>
    </div>
</div>

@if (_games is null)
{
    <div class="row">
        <div class="col">
            <span class="visually-hidden">Loading...</span>
            <img src="images/Eclipse-1s-200px.gif" alt="loading-gif"/>
        </div>
    </div>
}
else if(_games.Count == 0)
{
    <div class="row">
        <div class="col">
            <span>No games found</span>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var game in _games)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">@game.Name</h5>
                        <a href="/games/edit/@game.Id" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<GameDto>? _games;

    protected override async Task OnInitializedAsync()
    {
        _games = await GameService.GetAllAsync();
    }
}